fastapi==0.101.0
uvicorn[standard]==0.23.2
websockets==11.0.3
google-genai==1.60.0
python-dotenv==1.2.1
google-auth==2.21.0
requests==2.32.5
grpcio==1.76.0
google-cloud-storage==3.8.0
google-cloud-speech==2.36.0
mutagen==1.47.0
pillow==12.1.0
pandas==3.0.0
